<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body ng-controller="myCon">
    <div>
        计算表达式：
        <input ng-model="expr" type="text" placeholder="Enter an expression" />(eg:123+456*789/3)
        <div>{{ parsedExpr }}</div>
    </div>




    <script src="../../../../node_modules/angular/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controller37.js"></script>
</body>

</html>