<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style46.css">

</head>

<body>
    <div class="container" ng-controller="MainCtrl" ui-view>

    </div>


    <script src="../../../../node_modules/angular/angular.min.js"></script>
    <script src="../../../../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../js/app46.js"></script>
    <script src="../js/factory46.js"></script>
    <script src="../js/routers46.js"></script>
    <script src="../js/controller46.js"></script>


</body>

</html>