<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body ng-app="myApp" ng-controller="myCon">
    <form>
        Name:
        <input type="text" ng-model="user.name" />
        <br /> E-mail:
        <input type="email" ng-model="user.email" />
        <br /> Gender:
        <input type="radio" ng-model="user.sex" value="male" />male
        <input type="radio" ng-model="user.sex" value="female" />female
        <br />
        <button ng-click="reset()">RESET</button>
        <button ng-click="save(user)">SAVE</button>
    </form>
    <div>form = {{user | json}}</div>
    <div>master = {{master | json}}</div>
    <script src="../../../../node_modules/angular/angular.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controller22.js"></script>
</body>

</html>