<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body ng-controller="myCtrl">
    <ul>
        <li ng-repeat="item in list">{{item.id}} {{item.model}}</li>
    </ul>
    <script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../../node_modules/angular/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.service("myService", ["$http", function ($http) {
            return {
                getJson: function (url) {
                    return $http({
                        url: url
                    })
                }
            }
        }])
        app.controller("myCtrl", MyCtrl);
        MyCtrl.$inject = ['$scope', "myService"];

        function MyCtrl($scope, myService) {
            myService.getJson("../data/data.json").success(function (data) {
                $scope.list = data;
            })
        }
    </script>
</body>

</html>